body { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }

#map { 
    height: 100vh;
    width: 100%; 
    } /* Map covers full screen */

#info {
            position: absolute;  /* Floats on top of other things */
            top: 20px;           /* Distance from top */
            right: 20px;         /* Distance from right */
            z-index: 1000;       /* Ensures it sits ON TOP of the map layers */
            background-color: white;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            width: 200px;
        }

 #info h2 {
            margin-top: 0;
            font-size: 16px;
            color: #333;
        }

#current-time {
            font-weight: bold;
            color: #0056b3;
        }