html, body { 
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    }

    /* Top fuction bar */
#navbar {
    height: 50px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    justify-content: space-between; /* Pushes content to edges */
    z-index: 2000;
}
    
.nav-title {
    font-weight: bold;
    font-size: 18px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.lang-btn {
    background-color: #34495e;
    color: white;
    border: 1px solid #7f8c8d;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s;
}

.lang-btn:hover { 
    background-color: #1abc9c; 
    border-color: #1abc9c; 
}

    /* Warning button style */
#warning-btn {
    display: none; /* Hidden by default */
    position: absolute;
    top: 70px;  /* Aligned with the Info box */
    left: 60px; /* Top Left side */
    z-index: 1000;
    background-color: #e74c3c;
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    
    /* Button specific resets (Critical for <button> tags) */
    border: none;         /* Removes the default gray border */
    padding: 0;           /* Removes default padding */
    cursor: pointer;
    
    /* Animation & Centering */
    display: flex;             /* This will be overridden by JS 'none' initially, but used when 'flex' is set */
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    
    
    animation: pulse 2s infinite;
}

/* A hover effect */
#warning-btn:hover {
    background-color: #c0392b; /* Slightly darker red on hover */
}


/* Simple flashing animation */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

    /* Map style */
#map { 
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 1;
    }

    /* General Info Widget style */
#info {
            position: absolute;  /* Floats on top of other things */
            top: 70px;           /* Distance from top */
            right: 20px;         /* Distance from right */
            z-index: 1000;       /* Ensures it sits ON TOP of the map layers */
            background-color: white;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            width: 220px;
        }

 #info h2 {
            margin-top: 0;
            font-size: 16px;
            color: #333;
        }

#current-time {
            font-weight: bold;
            color: #0056b3;
        }