html, body { 
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    }

    /* Top fuction bar */
#navbar {
    height: 50px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    justify-content: space-between; /* Pushes content to edges */
    z-index: 2000;
}
    
.nav-title {
    font-weight: bold;
    font-size: 18px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.lang-btn {
    background-color: #34495e;
    color: white;
    border: 1px solid #7f8c8d;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s;
}

.lang-btn:hover { 
    background-color: #1abc9c; 
    border-color: #1abc9c; 
}

    /* Map style */
#map { 
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 1;
    }

    /* General Info Widget style */
#info {
            position: absolute;  /* Floats on top of other things */
            top: 70px;           /* Distance from top */
            right: 20px;         /* Distance from right */
            z-index: 1000;       /* Ensures it sits ON TOP of the map layers */
            background-color: white;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            width: 220px;
        }

 #info h2 {
            margin-top: 0;
            font-size: 16px;
            color: #333;
        }

#current-time {
            font-weight: bold;
            color: #0056b3;
        }