html, body { 
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    }

   /* Loading message style */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); /* Dark background */
    z-index: 2000; /* Highest priority to cover map and navbar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    backdrop-filter: blur(5px); /* Nice blurry effect */
}

#txt-loading-msg {
    margin-top: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    white-space: pre-line;
}

    /* The Loading Spinner style */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3); /* Light grey ring */
    border-radius: 50%;
    border-top: 5px solid #3498db; /* Blue spinner */
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    
    /* Top fuction bar style */
#navbar {
    height: 50px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    justify-content: space-between; /* Pushes content to edges */
    z-index: 3000;
}
    
.nav-title {
    font-weight: bold;
    font-size: 18px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.lang-btn {
    height: 40px;
    width: 75px;
    background-color: #34495e;
    color: white;
    border: 1px solid #7f8c8d;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s;
}

.lang-btn:hover { 
    background-color: #1abc9c; 
    border-color: #1abc9c; 
}

    /* Warning button style */
#warning-btn {
    display: none; /* Hidden by default */
    position: absolute;
    top: 70px;  /* Aligned with the Info box */
    left: 60px; /* Top Left side */
    z-index: 1000;
    background-color: #e74c3c;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    
    /* Button specific resets (Critical for <button> tags) */
    border: none;         /* Removes the default gray border */
    padding: 0;           /* Removes default padding */
    cursor: pointer;
    
    /* Animation & Centering */
    line-height: 1;
    justify-content: center;
    align-items: center;
    
    
    animation: pulse 2s infinite;
}

    /* A hover effect */
#warning-btn:hover {
    background-color: #c0392b; /* Slightly darker red on hover */
}


    /* Simple flashing animation */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

    /* Map style */
#map { 
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 1;
    }

    /* General Info Widget style */
#info {
    position: absolute;  /* Floats on top of other things */
    top: 70px;           /* Distance from top */
    right: 20px;         /* Distance from right */
    z-index: 1000;       /* Ensures it sits ON TOP of the map layers */
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 220px;
}

 #info h2 {
    margin-top: 0;
    font-size: 16px;
    color: #333;
}

#current-time {
    font-weight: bold;
    color: #0056b3;
}

/* Bus Marker Style */
.bus-marker-container {
    position: relative;
    width: 30px;
    height: 30px;
    
}


.bus-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #3498db; 
    border: 2px solid white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    
    z-index: 10; 
}


.arrow-orbit {
    position: absolute;
    top: 15px; 
    left: 15px;
    
    width: 0;
    height: 0;
    z-index: 5; 
}


.bus-arrow {
    position: absolute;
    
    top: -35px; 
    left: -7px; 
    
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #3498db; 
    filter: drop-shadow(0 0 2px white);
}

#locate-btn {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 1000;
    
    width: 50px;
    height: 50px;
    background-color: white;
    color: #333;
    
    border: none;
    border-radius: 10%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #444; 

}

#locate-btn:hover {
    background-color: #f0f0f0;
}

#locate-btn:active {
    background-color: #e0e0e0;
    transform: translateY(1px);
}